<div class="show">
  <h4>Title:</h4>
  <p>&nbsp;<%= @list.title %></p>
</div>

<div class="show">
  <h4>Body:</h4>
  <p>&nbsp;<%= @list.body %></p>
</div>

<div class="show-bottom">
  <%= link_to "Edit", edit_book_path(@list.id) %>
  <p>&nbsp;|&nbsp;</p>
  <%= link_to "Back", '/books' %>
</div>