/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 30px;
  font-family: '游ゴシック';
}

.headline{
  margin: 20px 0;
}

.top{
 margin: 30px;

}

.start{
 margin: 30px;
}

.table-head{
  margin: 20px;
}

.table-data{
  padding: 5px;
}

.new{
  margin: 40px 0 10px 0;

}

.show{
  margin: 10px 0 20px 40px ;
  display: flex;
  flex-wrap: wrap;
}

.show-bottom{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.notice{
  margin: 30px;
  font-size: 13px;
  color: green;
}

.edithead{
  margin-bottom: 20px;
}

.databox{
  margin-bottom: 10px;
}

.errormessage{
  color: red;
}